In [1]:
import pandas as pd

In [11]:
# Use pandas to open the csv files into dataframes
df_addresses = pd.read_csv('/Users/meghan/Downloads/addresses.csv')
df_polling = pd.read_csv('/Users/meghan/Downloads/precinct_polling_list.csv')

In [12]:
# Take a look at the structure of each csv
df_addresses.head()

                      Street  Apt       City State         Zip Precinct ID
0              7 BEACON BLVD  NaN    PEABODY    MA  01960-6303     025-090
1              1847 TOWER DR  NaN  STOUGHTON    WI  53589-3539     055-015
2       4628 GREEN VALLEY RD  NaN  FAIRFIELD    CA  94534-1368     006-009
3                14 HALET ST  NaN   PORTLAND    ME  04102-1734     023-089
4  1606 BLACKBURN HEIGHTS DR  NaN  SEWICKLEY    PA  15143-8626     042-018

In [13]:
df_polling.head()

                          Street        City State/ZIP Country Precinct
0                288 York Street   New Haven  CT 06511     USA  CON-069
1  301-399 South Boulevard Drive  Bainbridge  GA 39819     USA  GEO-062
2         150-151 Tremont Street      Boston  MA 02111     USA  MAS-111
3          2395 Ingleside Avenue       Macon  GA 31204     USA  GEO-041
4           1007 Merchant Street    Ambridge  PA 15003     USA  MAS-018

In [14]:
# See if there are missing values
df_addresses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 6 columns):
Street         41 non-null object
Apt            2 non-null object
City           41 non-null object
State          41 non-null object
Zip            41 non-null object
Precinct ID    41 non-null object
dtypes: object(6)
memory usage: 2.0+ KB

In [16]:
df_polling.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 5 columns):
Street       33 non-null object
City         33 non-null object
State/ZIP    33 non-null object
Country      31 non-null object
Precinct     29 non-null object
dtypes: object(5)
memory usage: 1.4+ KB

In [17]:
# Note precinct has missing data--take a look at missing data:
df_polling[df_polling.isnull().any(axis=1)]

,Street,City,State/ZIP,Country,Precinct
6,974 Great Plain Avenue Needham MA 02492,USA,MAS-006,NaN,NaN
13,29 Godwin Avenue,Ridgewood NJ 07450,USA,NEWJ-000,NaN
23,1782 Massachusetts Ave Cambridge MA 02140,USA,MAS-070,NaN,NaN
30,2035 East North Avenue Milwaukee WI,53211,USA,WIS-067,NaN

In [ ]:
# The precinct is not missing, it is just in the wrong column.  
#Since there are only 4 rows, this can be fixed manually.